/* Default alerts */

.alert {
	background-color: $astra;
	box-shadow: 3px 3px 0 0 darken($astra, 10%);
	color: $trout;
	font-size: 16px;
	margin-bottom: 20px;
	padding: 15px 35px 12px 20px;
	text-shadow: 0 1px 0 $white;

	h4 {
		margin: 0;
	}

	.close {
		line-height: 20px;
		position: relative;
		right: -21px;
		top: -2px;
	}
}

.alert-success {
	background-color: $olivine;
	border-color: $aqua-forest;
	box-shadow: 3px 3px 0 0 $aqua-forest;
	color: $white;
}

.alert-error {
	background-color: $monza !important;
	border-color: $cadillac;
	box-shadow: 3px 3px 0 0 $cadillac;
	color: $white;
}

.alert-info {
	background-color: $curious-blue;
	border-color: $lochmara;
	box-shadow: 3px 3px 0 0 $lochmara;
	color: $white;
}

.alert-block {
	padding-bottom: 14px;
	padding-top: 14px;
	
	> p {
		margin-bottom: 0;
	}
	
	> ul {
		margin-bottom: 0;
	}
	
	p + p {
		margin-top: 5px;
	}
}