/* Venera footer styles */

.pre-footer {
	background: $cadillac left top repeat;
	border-top: 10px solid $cadillac;
	padding: 30px 0;
	
	.thumbnail {
		background: $white;
		box-shadow: none;
	}

	.footer-logo {
		margin-bottom: 15px;

		a {
			border-bottom: 5px solid $aqua-forest;
			color: $aqua-forest;
			font-size: 32px;
			font-weight: 300;
			text-transform: uppercase;
		}
		
		strong {
			color: $white;
			font-weight: 400;
		}
	}
	
	.footer-header {
		border-bottom: 5px solid $aqua-forest;
		color: $white;
		font-size: 24px;
		font-weight: 300;
		margin-top: 0;
		padding-bottom: 10px;
		text-transform: uppercase;

		@media (max-width: 767px) {
			margin-top: 20px;
		}
	}
	
	.footer-list {
		color: $white;
		list-style: square;
		
		li {
			margin-bottom: 10px;
		
			a {
				color: $white;
				font-size: 16px;
			}
		}
	}
	
	ul.footer-address {
		list-style: none;
		margin-left: 0;
	
		li {
			color: $white;
			text-transform: uppercase;
	
			strong {
				color: $aqua-forest;
				font-weight: normal;
			}
		}
	}

	@media (max-width: 767px) {
		padding-left: 20px;
    padding-right: 20px;
	}
}

.deep-footer {
	background-color: $monza;
	border-top: 2px solid $cadillac;
	padding: 20px 0;
	
	.copyright {
		color: $white;
		text-transform: uppercase;
	}
	
	.footer-links {
		margin: 0;
		text-align: right;
		
		li {
			display: inline-block;
			*display: inline;
			margin-left: 10px;
			vertical-align: middle;
			*vertical-align: auto;
		
			a {
				color: $white;
				text-transform: uppercase;
			}

			@media (max-width: 767px) {
				margin-left: 0px;
    		margin-right: 10px;
			}
		}

		@media (max-width: 767px) {
			text-align: left;
		}
	}

	@media (max-width: 767px) {
		padding-left: 20px;
    padding-right: 20px;
	}
}

.footer {

	p {

		@media (max-width: 767px) {
			margin-bottom: 9px;
		}
	}

	.pull-right {

		@media (max-width: 480px) {
			float: none;
		}
	}

	@media (max-width: 767px) {
		margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
	}

	@media (max-width: 480px) {
    padding-bottom: 20px;
		padding-top: 20px;
	}
}