/* Venera hero styles */

.hero-unit {
	background-color: $white;
	box-shadow: 3px 3px 0 0 $trout;
	color: inherit;
	font-size: 18px;
	font-weight: 200;
	line-height: 30px;
	margin-bottom: 30px;
	padding: 60px;

	h1 {
		color: inherit;
		font-size: 60px;
		letter-spacing: -1px;
		line-height: 1;
		margin-bottom: 0;
	}

	li {
		line-height: 30px;
	}
}
