/* Venera jumbotron styles */

//urls
$url_0: url(/assets/docs-help-icon.png);

//.sub-jumbotron ul li a:hover, .sub-jumbotron ul li a.active
%extend_sub_jumbotron {
	background-color: darken($white, 10%);
	box-shadow: -2px -2px 0 $trout;
	text-decoration: none;
}

.jumbotron {
	background: lighten($astra, 80%);
	border-bottom: 1px dashed $trout;
	margin-bottom: 20px;
	padding: 20px 0 0;

	.container {
		background: transparent $url_0 right top no-repeat;
		background-size: 200px;
		padding-bottom: 20px;
	}
	
	.docs-header-icon {
		background-size: 65px;
	}
	
	&.subhead {
		margin-bottom: 0;

		h1 {

			@media (max-width: 480px) {
				text-align: center;
			}
		}

		p {

			@media (max-width: 480px) {
				text-align: center;
			}
		}
	}

	h1 {
		
		@media (max-width: 480px) {
			font-size: 45px;
		}
	}

	p {

		@media (max-width: 480px) {
			font-size: 18px;
		}
	}

	.btn {

		@media (max-width: 480px) {
			display: block;
			font-size: 18px;
    	margin: 0 auto;
		}
	}

	@media (max-width: 767px) {
		padding: 40px 20px;
	}
}

.sub-jumbotron {
	border-bottom: 1px dashed $trout;
	margin-bottom: 20px;
	padding: 15px;

	ul {
		font-size: 18px;
		line-height: 20px;
		list-style: none;
		margin: 0;
		
		li {
			display: inline-block;
			*display: inline;
			margin-right: 15px;
			vertical-align: middle;
			*vertical-align: auto;
		
			a {
				background-color: darken($white, 10%);
				border-radius: 4px;
				box-shadow: 2px 2px 0 $trout;
				color: $trout;
				display: block;
				padding: 8px 12px;
				transition: all 200ms ease;

				&:hover {
					@extend %extend_sub_jumbotron;
				}

				&.active {
					@extend %extend_sub_jumbotron;
				}
			}

			@media (max-width: 767px) {
				display: block;
				margin-bottom: 10px;
			}
		}
	}
}
