/* Venera popover styles */;

//.popover .arrow, .popover .arrow:after
%extend_popover_arrow {
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

.popover {
	background-color: $white;
	background-clip: padding-box;
	border: 1px solid $trout;
	border-radius: 6px;
	box-shadow: 0 5px 10px $trout;
	display: none;
	left: 0;
	padding: 1px;
	position: absolute;
	top: 0;
	width: 236px;
	z-index: 1010;

	&.top {
		margin-top: -10px;
		
		.arrow {
			border-top-color: $white;
			border-width: 10px 10px 0;
			bottom: -10px;
			left: 50%;
			margin-left: -10px;
		
			&:after {
				border-top-color: $trout;
				border-width: 11px 11px 0;
				bottom: -1px;
				left: -11px;
			}
		}
	}
	
	&.right {
		margin-left: 10px;
	
		.arrow {
			border-right-color: $white;
			border-width: 10px 10px 10px 0;
			left: -10px;
			margin-top: -10px;
			top: 50%;
	
			&:after {
				border-right-color: $trout;
				border-width: 11px 11px 11px 0;
				bottom: -11px;
				left: -1px;
			}
		}
	}
	
	&.bottom {
		margin-top: 10px;
	
		.arrow {
			border-bottom-color: $white;
			border-width: 0 10px 10px;
			left: 50%;
			margin-left: -10px;
			top: -10px;
	
			&:after {
				border-bottom-color: $trout;
				border-width: 0 11px 11px;
				left: -11px;
				top: -1px;
			}
		}
	}
	
	&.left {
		margin-left: -10px;
	
		.arrow {
			border-left-color: $white;
			border-width: 10px 0 10px 10px;
			margin-top: -10px;
			right: -10px;
			top: 50%;
	
			&:after {
				border-left-color: $trout;
				border-width: 11px 0 11px 11px;
				bottom: -11px;
				right: -1px;
			}
		}
	}
	
	.arrow {
		@extend %extend_popover_arrow;
	
		&:after {
			@extend %extend_popover_arrow;
			content: "";
			z-index: -1;
		}
	}
}

.popover-title {
	background-color: $trout;
	border-bottom: 1px solid $trout;
	border-radius: 5px 5px 0 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	margin: 0;
	padding: 8px 14px;
}

.popover-content {
	padding: 9px 14px;

	p {
		margin-bottom: 0;
	}

	ul {
		margin-bottom: 0;
	}

	ol {
		margin-bottom: 0;
	}
}
