/* Venera slider styles */

.slider-header {
	border-bottom: 2px solid $aqua-forest;
	box-shadow: 0 2px 0 $aqua-forest;
	color: $trout;
	font-size: 38px;
	font-weight: 700;
	margin: 0;
	margin-bottom: 10px;
	padding-bottom: 10px;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 2px 2px 0 $aqua-forest;

	strong {
		color: $cadillac;
	}

	@media (min-width: 1200px) {
		font-size: 44px;
    line-height: 56px;
	}

	@media (min-width: 768px) and (max-width: 979px) {
		font-size: 34px;
	}
}

.slider-sub-header {
	color: $trout;
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 20px;
	margin-top: 0;

	&.extra-margin {
		margin-bottom: 40px;
	}
}

.slider-w {
	background: $white top left repeat;
	text-align: center;
	
	.item {
		height: 440px;
		padding-top: 50px;

		@media (min-width: 1200px) {
			height: 510px;
		}

		@media (min-width: 768px) and (max-width: 979px) {
    	padding-top: 30px;
		}

		@media (max-width: 767px) {
			height: 465px;
    	padding-top: 30px;
		}
	}
	
	.sub-screenshot {
		background-color: $olivine;
		border-radius: 5px;
		box-shadow: 2px 2px 1px 0 $olivine inset;
		color: $trout;
		margin-top: 5px;
		padding: 10px;
	}

	.zoomed-browser {
		padding-top: 10px;
		transition: all 100ms linear;

		&:hover {
			padding-bottom: 10px;
			padding-top: 0;
		}

		@media (min-width: 1200px) {
			padding-top: 15px;
		}
	}

	.cta {
		margin-bottom: 20px;

		a {
			border: 1px solid $trout;
			box-shadow: 1px 1px 2px 2px $trout;
			font-size: 24px;
			font-weight: 300;
			padding: 20px 35px;
			text-align: center;
			text-decoration: none;

			&.btn-danger {
				box-shadow: 1px 1px 2px 2px $trout;
			}

			&.btn-warning {
				box-shadow: 1px 1px 2px 2px $trout;
			}
			
			&.btn-info {
				box-shadow: 1px 1px 2px 2px $trout;
			}

			&:hover {
				border: 1px solid $aqua-forest;
				box-shadow: 1px 1px 2px 2px $aqua-forest;	
			}

			@media (max-width: 767px) {
				font-size: 24px;
    		padding: 17px 30px;
			}
		}
	}
	
	.slider-browsers-w {
		height: 255px;
		position: relative;
		z-index: 998;

		@media (min-width: 1200px) {
			height: 320px;
		}

		@media (min-width: 768px) and (max-width: 979px) {
			height: 200px;
		}

		@media (max-width: 767px) {
			height: 200px;
		}
	}
	
	.slider-browser {
		bottom: -100%;
		position: absolute;
		transition: all 400ms ease;

		&:hover {
			bottom: 10%!important;
		}

		@media (max-width: 767px) {
	    left: auto;
	    margin: 0px;
			position: relative;
	    width: auto;
		}
	}

	.slider-browser-left {
		left: 5%;
		width: 30%;

		&:hover {
			left: 0;
		}
	}

	.slider-browser-center {
		left: 50%;
		margin-left: -20%;
		width: 40%;

		@media (max-width: 767px) {
	    left: auto;
	    margin: 0px;
			position: relative;
	    width: auto;
		}
	}

	.slider-browser-right {
		right: 5%;
		width: 30%;
	}

	.slider-header {

		@media (max-width: 767px) {
			font-size: 24px;
	    line-height: 28px;
	    padding-left: 10px;
	    padding-right: 10px;
		}
	}

	.slider-sub-header {

		@media (max-width: 767px) {
			font-size: 20px;
    	line-height: 22px;
    }
	}
}

.sub-slider-features {
	background-color: $trout;
	border-bottom: 3px solid $trout;
	border-top: 2px solid $trout;
	box-shadow: 0 -10px 2px 0 transparent, inset 0 3px 0 0 $trout;
	padding: 30px 0 0;
	position: relative;
	z-index: 999;

	.info-bullet {
		margin-bottom: 30px;
		padding: 0 3%;
		text-align: center;
		
		> i {
			color: $white;
			display: block;
			font-size: 100px;
			line-height: 102px;
		}

		img {
			margin-bottom: 15px;
		}
		
		h5 {
			border-bottom: 3px solid $white;
			color: $white;
			display: block;
			font-size: 22px;
			font-weight: 700;
			margin-bottom: 5px;
			padding-bottom: 10px;
			text-decoration: none;
			text-transform: uppercase;
		}

		p {
			color: $white;
			font-size: 18px;
			font-weight: 300;
			line-height: 22px;
			text-transform: none;
		}
	}
}
