/* Colors */
$aqua-forest: 	#64aa6f; /* Strong green */
$olivine: 		  #87b57a; /* Olivine green */
$monza:			    #be0043; /* Strong red */
$cadillac:		  #b24f5a; /* Weak red */
$trout: 		    #49495a; /* Black/Gray color */
$white:			    #ffffff; /* Full white */
$black:			    #000000; /* Full black */
$astra:         #f8ebac; /* Weak yellow */
$tradewin:      #69adaa; /* Green / blue color */
$cerulean: 			#0e90d2; /* Blue */
$curious-blue:	#149bdf; /* Brightest blue */
$lochmara: 			#0480be; /* Darknest blue */

/* Fonts */
$font-size:     15px;
$font-family:   "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-weight:   300;

/* Lines */
$line-height:   20px;
