<div class='carousel slide over-something' id='homepage-carousel'>
  <div class='carousel-inner slider-w'>
    <div class='active item'>
      <div class='container'>
        <h1 class='slider-header'>Magento <strong>MX</strong> La Comunidad de Magento en México</h1>
        <h2 class='slider-sub-header'>De la comunidad, para la comunidad. Donde quiera que un Magento Dev mexicano está</h2>
        <div class='cta'>
          <a href="features/pricing_tables.html" class="btn btn-cta">Conócenos</a>
        </div>
        <div class='slider-browsers-w clearfix'>
          <!-- Comment until we get more images to show like partners -->
          <!-- <div class='slider-browser slider-browser-left hidden-phone' data-position-bottom='-8%'>
            <img alt="Browser-window-1" src="assets/images/slider/magentomx.png" />
          </div> -->
          <div class='slider-browser slider-browser-center' data-position-bottom='-9%'>
            <img alt="Browser-window-2" src="/assets/images/slider/magentomx.png" />
          </div>
          <!-- Comment until we get more images to show like partners -->
          <!-- <div class='slider-browser slider-browser-right hidden-phone' data-position-bottom='-8%'>
            <img alt="Browser-window-3" src="assets/images/slider/magentomx.png" />
          </div>-->
        </div>
      </div>
    </div>
    <div class='item'>
      <div class='container'>
        <h1 class='slider-header'>Estamos en slack, puedes unirte a nosotros</h1>
        <h2 class='slider-sub-header'>Resolvemos nuestras dudas y discutimos las buenas nuevas de Magento</h2>
        <div class='cta'>
          <a href="features/pricing_tables.html" class="btn btn-cta">Únete</a>
        </div>
        <div class='row zoomed-browsers-w'>
          <!-- Commented until we get more images like sponsors or partners -->
          <!-- <div class='span4'>
            <div class='zoomed-browser hidden-phone'>
              <img alt="Browser-window-1" src="assets/images/slider/magentomx.png" />
            </div>
          </div> -->
          <div class='span12'>
            <div class='zoomed-browser'>
              <img alt="Browser-window-2" src="/assets/images/slider/magentomx.png" />
            </div>
          </div>
          <!-- Commented until we get more images like sponsors or partners -->
          <!-- <div class='span4'>
            <div class='zoomed-browser hidden-phone'>
              <img alt="Browser-window-3" src="assets/images/slider/magentomx.png" />
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <a class='carousel-control left' data-slide='prev' href='#homepage-carousel'>
    <i class='icon-chevron-left'></i>
  </a>
  <a class='carousel-control right' data-slide='next' href='#homepage-carousel'>
    <i class='icon-chevron-right'></i>
  </a>
</div>
