<div class='sub-slider-features'>
  <div class='container'>
    <div class='row'>
      <div class='span4'>
        <div class='info-bullet'>
          <i class='icon-share'></i>
          <h5>Compartimos conocimiento</h5>
          <p>Compartimos nuestro conocimiento entre nosotros y quién sea que le interese leer más sobre Magento.</p>
        </div>
      </div>
      <div class='span4'>
        <div class='info-bullet'>
          <i class='icon-heart'></i>
          <h5>Apasionados por Magento</h5>
          <p>Estamos realmente apasionados por Magento, por eso lo promovemos y buscamos el profesioanlizmo de todos.</p>
        </div>
      </div>
      <div class='span4'>
        <div class='info-bullet'>
          <i class='icon-globe'></i>
          <h5>Impacto mundial</h5>
          <p>Los profesionales que integran la comunidad pueden y han colaborado con marcas de impacto mundial.</p>
        </div>
      </div>
    </div>
  </div>
</div>
