<h3 class='section-header'>Alerts</h3>
<div class='white-card extra-padding'>
  <div class='alert alert-success'>
    <button class="close" dismiss="alert" name="button" type="button">x</button>
    Well done! You successfully read this important alert message.
  </div>
  <div class='alert alert-error'>
    <button class="close" dismiss="alert" name="button" type="button">x</button>
    Oh snap! Change a few things up and try submitting again.
  </div>
  <div class='alert alert-warning'>
    <button class="close" dismiss="alert" name="button" type="button">x</button>
    Well done! You successfully read this important alert message.
  </div>
  <div class='alert alert-info'>
    <button class="close" dismiss="alert" name="button" type="button">x</button>
    Heads up! This alert needs your attention, but it's not super important.
  </div>
</div>