<section class='section-wrapper stripped'>
	<div class='container'>
		<div class='row'>
			<div class='span12'>
				<h3 class='section-header'>Breadcrumbs</h3>
				<ul class='breadcrumb'>
					<li>
						<a href="#">Home</a>
					</li>
					<li class='hidden-phone'>
						<a href="#">Portfolio</a>
					</li>
					<li class='visible-desktop-inline-block hidden-not-big-desktop'>
						<a href="#">Features</a>
					</li>
					<li class='visible-desktop-inline-block'>
						<a href="#">Something</a>
					</li>
					<li class='visible-desktop-inline-block'>
						<a href="#">All Elements</a>
					</li>
					<li class='hidden-not-big-desktop'>
						<a href="#">Navigation</a>
					</li>
					<li class='active'>
						<span>Active Breadcrumb</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
