<section class='section-wrapper'>
	<h3 class='section-header'>Forms</h3>
	<div class='white-card extra-padding'>
		<form class='no-margin-bottom'>
			<fieldset>
				<div class='row'>
					<div class='span5'>
						<legend>User Information</legend>
					</div>
					<div class='span3'>
						<div class='control-group'>
							<label>First Name</label>
							<input class='span3' placeholder='Input first name...' type='text'>
						</div>
						<div class='control-group'>
							<label>Last Name</label>
							<input class='span3' placeholder='Input last name...' type='text'>
						</div>
						<div class='control-group'>
							<label>Email Address</label>
							<input class='span3' placeholder='Input email address...' type='text'>
						</div>
						<div class='control-group'>
							<label>Twitter Username</label>
							<div class='input-prepend'>
								<span class='add-on'>@</span>
								<input class='span2' placeholder='Input username...' type='text'>
							</div>
						</div>
					</div>
					<div class='span2'>
						<div class='form-side-info'>
							<h4>Information</h4>
							<p>Quisque commodo venenatis arcu, non volutpat arcu lobortis at. Donec vel turpis non erat luctus ultrices vel sed massa.</p>
						</div>
					</div>
				</div>
				<div class='form-actions no-margin-bottom'>
					<button class='btn btn-primary' type='submit'>Save Form</button>
					<button class='btn btn-gray' type='submit'>Cancel</button>
				</div>
			</fieldset>
		</form>
	</div>
</section>
