<section class='section-wrapper'>
  <div class='container'>
    <div class='row'>
      <div class='span12'>
        <h3 class='section-header'>Gallery of images</h3>
        <ul class='thumbnails'>
          <li class='span3'>
            <a href="/assets/images/test-square.png" class="thumbnail with-content" data-rel="lightbox[gallery]"><img alt="Photo-card-big-1" src="/assets/images/test-square.png" />
              <div class='thumbnail-hover-w'>
                <div class='thumbnail-hover-title'>Thumbnail Title</div>
                <div class='thumbnail-hover-text'>Praesent magna turpis, tincidunt quis fringilla sit amet, fringilla vel eros. Nullam mi mi, convallis id vestibulum ut, volutpat ut risus. In iaculis augue vel magna aliquet posuere.</div>
              </div>
            </a>
          </li>
          <li class='span3'>
            <a href="/assets/images/test-square.png" class="thumbnail with-content" data-rel="lightbox[gallery]"><img alt="Photo-card-big-2" src="/assets/images/test-square.png" />
              <div class='thumbnail-hover-w'>
                <div class='thumbnail-hover-title'>Thumbnail Title</div>
                <div class='thumbnail-hover-text'>Praesent magna turpis, tincidunt quis fringilla sit amet, fringilla vel eros. Nullam mi mi, convallis id vestibulum ut, volutpat ut risus. In iaculis augue vel magna aliquet posuere.</div>
              </div>
            </a>
          </li>
          <li class='span3'>
            <a href="/assets/images/test-square.png" class="thumbnail with-content" data-rel="lightbox[gallery]"><img alt="Photo-card-big-3" src="/assets/images/test-square.png" />
              <div class='thumbnail-hover-w'>
                <div class='thumbnail-hover-title'>Thumbnail Title</div>
                <div class='thumbnail-hover-text'>Praesent magna turpis, tincidunt quis fringilla sit amet, fringilla vel eros. Nullam mi mi, convallis id vestibulum ut, volutpat ut risus. In iaculis augue vel magna aliquet posuere.</div>
              </div>
            </a>
          </li>
          <li class='span3'>
            <a href="/assets/images/test-square.png" class="thumbnail with-content" data-rel="lightbox[gallery]"><img alt="Photo-card-big-4" src="/assets/images/test-square.png" />
              <div class='thumbnail-hover-w'>
                <div class='thumbnail-hover-title'>Thumbnail Title</div>
                <div class='thumbnail-hover-text'>Praesent magna turpis, tincidunt quis fringilla sit amet, fringilla vel eros. Nullam mi mi, convallis id vestibulum ut, volutpat ut risus. In iaculis augue vel magna aliquet posuere.</div>
              </div>
            </a>
          </li>
          <li class='span3'>
            <a href="/assets/images/test-square.png" class="thumbnail with-content" data-rel="lightbox[gallery]"><img alt="Photo-card-big-5" src="/assets/images/test-square.png" />
              <div class='thumbnail-hover-w'>
                <div class='thumbnail-hover-title'>Thumbnail Title</div>
                <div class='thumbnail-hover-text'>Praesent magna turpis, tincidunt quis fringilla sit amet, fringilla vel eros. Nullam mi mi, convallis id vestibulum ut, volutpat ut risus. In iaculis augue vel magna aliquet posuere.</div>
              </div>
            </a>
          </li>
          <li class='span3'>
            <a href="/assets/images/test-square.png" class="thumbnail with-content" data-rel="lightbox[gallery]"><img alt="Photo-card-big-6" src="/assets/images/test-square.png" />
              <div class='thumbnail-hover-w'>
                <div class='thumbnail-hover-title'>Thumbnail Title</div>
                <div class='thumbnail-hover-text'>Praesent magna turpis, tincidunt quis fringilla sit amet, fringilla vel eros. Nullam mi mi, convallis id vestibulum ut, volutpat ut risus. In iaculis augue vel magna aliquet posuere.</div>
              </div>
            </a>
          </li>
          <li class='span3'>
            <a href="/assets/images/test-square.png" class="thumbnail with-content" data-rel="lightbox[gallery]"><img alt="Photo-card-big-7" src="/assets/images/test-square.png" />
              <div class='thumbnail-hover-w'>
                <div class='thumbnail-hover-title'>Thumbnail Title</div>
                <div class='thumbnail-hover-text'>Praesent magna turpis, tincidunt quis fringilla sit amet, fringilla vel eros. Nullam mi mi, convallis id vestibulum ut, volutpat ut risus. In iaculis augue vel magna aliquet posuere.</div>
              </div>
            </a>
          </li>
          <li class='span3'>
            <a href="/assets/images/test-square.png" class="thumbnail with-content" data-rel="lightbox[gallery]"><img alt="Photo-card-big-8" src="/assets/images/test-square.png" />
              <div class='thumbnail-hover-w'>
                <div class='thumbnail-hover-title'>Thumbnail Title</div>
                <div class='thumbnail-hover-text'>Praesent magna turpis, tincidunt quis fringilla sit amet, fringilla vel eros. Nullam mi mi, convallis id vestibulum ut, volutpat ut risus. In iaculis augue vel magna aliquet posuere.</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>