<section class='section-wrapper'>
	<h3 class='section-header'>Pills</h3>
	<ul class='nav nav-pills' id='myPills'>
		<li class='active'>
			<a href="#pill1" data-toggle="pill">Beautiful</a>
		</li>
		<li>
			<a href="#pill2" data-toggle="pill">Easy to use</a>
		</li>
		<li class='visible-desktop'>
			<a href="#pill3" data-toggle="pill">Responsive</a>
		</li>
		<li class='hidden-not-big-desktop'>
			<a href="#pill4" data-toggle="pill">Dignissim</a>
		</li>
	</ul>
	<div class='tab-content'>
		<div class='tab-pane active' id='pill1'>
			<p>Integer dignissim nunc ac augue tincidunt pretium. Morbi a nunc ipsum. Fusce vitae lectus nisl. Ut fermentum arcu sit amet orci fringilla pretium. Donec in orci arcu, ac pharetra justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
		</div>
		<div class='tab-pane' id='pill2'>
			<p>Cras lacinia laoreet libero et mattis. In facilisis neque id lectus hendrerit in dignissim orci rhoncus. Etiam lacinia, mauris sed sagittis laoreet, sapien erat consectetur enim, eget sagittis orci magna at dolor. Donec semper tellus vitae massa laoreet congue. </p>
		</div>
		<div class='tab-pane' id='pill3'>
			<p>Suspendisse hendrerit nisi at metus tincidunt vehicula. Suspendisse potenti. Ut facilisis, ligula et tincidunt placerat, ligula metus rutrum nisl, sit amet mattis odio sem vitae ante. Vivamus iaculis, lectus non tincidunt rhoncus.</p>
		</div>
		<div class='tab-pane' id='pill4'>
			<p>Maecenas venenatis quam vitae odio adipiscing sed condimentum justo dapibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut rhoncus sem et est rhoncus posuere.</p>
		</div>
	</div>
</section>
