<header id='header'>
  <div class='navbar navbar-fixed-top'>
    <div class='navbar-inner'>
      <div class='container'>
        <a class='btn btn-navbar' data-target='.nav-collapse' data-toggle='collapse'>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </a>
        <a href="/" class="brand">Magento Mx</a>
        <div class='nav-collapse subnav-collapse collapse pull-right' id='top-navigation'>
          <ul class='nav'>
            <li class='active'>
              <a href="/">Inicio</a>
            </li>
            <li class='dropdown'>
              <a href="/blog/">Blog</a>
              <!-- Commented until we have sub menu options -->
              <!--<a href="blog.html" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
              <ul class='dropdown-menu'>
                <li>
                  <a href="features/pricing_tables.html">Pricing Table</a>
                </li>
                <li>
                  <a href="features/awesome_icons.html">Awesome Icons</a>
                </li>
                <li>
                  <a href="features/basic_elements.html">Basic Elements</a>
                </li>
                <li class='divider'></li>
                <li class='nav-header'>Pages Examples</li>
                <li>
                  <a href="features/about_us_page.html">About Us Page</a>
                </li>
                <li>
                  <a href="gallery_of_images.html">Gallery of Images</a>
                </li>
                <li>
                  <a href="features/not_found_page.html">Page not found</a>
                </li>
                <li>
                  <a href="features/coming_soon_page.html">Coming Soon Page</a>
                </li>
              </ul> -->
            </li>
            <li class='dropdown'>
              <a href="/contribuciones/">Contribuciones</a>
              <!-- Commented until we have sub menu options -->
              <!--<a href="contribuciones.html" class="dropdown-toggle" data-toggle="dropdown">Contribuciones</a>
              <ul class='dropdown-menu'>
                <li>
                  <a href="documentation/get_started.html">Get Started</a>
                </li>
                <li>
                  <a href="documentation/scaffolding.html">Scaffolding</a>
                </li>
                <li>
                  <a href="documentation/base_css.html">Base CSS</a>
                </li>
                <li>
                  <a href="documentation/components.html">Components</a>
                </li>
                <li>
                  <a href="documentation/javascript.html">Javascript</a>
                </li>
              </ul> -->
            </li>
            <li class='dropdown'>
              <a href="/comunidad/">Comunidad</a>
              <!-- Commented until we have sub menu options -->
              <!--<a href="comunidad.html" class="dropdown-toggle" data-toggle="dropdown">Comunidad</a>
              <ul class='dropdown-menu'>
                <li>
                  <a href="blog/single_post.html">Single Post</a>
                </li>
                <li>
                  <a href="blog/two_per_line.html">Multiple Posts (two)</a>
                </li>
                <li>
                  <a href="blog/one_per_line.html">Multiple Posts (one)</a>
                </li>
              </ul> -->
            </li>
            <li class=''>
              <a href="/unete/">Únete</a>
            </li>
          </ul>

          <!-- Commented below to add this after when we have sign in & sign up -->
          <!-- <div class='top-account-control visible-desktop'>
            <a href="features/pricing_tables.html" class="top-create-account">Create Account</a>
            <a href="#" class="top-sign-in">Sign In</a>
            <div class='login-box'>
              <a class='close login-box-close' href='#'>&times;</a>
              <h4 class='login-box-head'>Login Form</h4>
              <div class='control-group'>
                <label>Username</label>
                <input class='span2' placeholder='Input username...' type='text'>
              </div>
              <div class='control-group'>
                <label>Password</label>
                <input class='span2' placeholder='Input password...' type='text'>
              </div>
              <div class='login-actions'>
                <button class='btn btn-primary'>Log Me In</button>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</header>
