---
layout: default
---

{% include basics/breadcrumbs.html %}

<div class="just-stripped">
	<div class='container'>
		<div class='row'>
			<div class='span6'>
				{% include basics/forms.html %}
			</div>
			<div class="span6">
				{% include basics/tabs.html %}
				{% include basics/pills.html %}
			</div>
		</div>
	</div>
</div>	

{% include basics/tooltips.html %}

<section class='section-wrapper stripped'>
  <div class='container'>
    <div class='row'>
      <div class='span6'>
        {% include basics/progress-bars.html %}
      </div>
      <div class='span6'>
        {% include basics/alerts.html %}
      </div>
    </div>
  </div>
</section>

{% include basics/gallery.html %}
