---
layout: default
---
<section class='section-wrapper about-page-w'>
  <div class='container'>
    <h1 class='section-main-header'>About Us Page Example</h1>
    <div class='row row-separated'>
      <div class='span7'>
        <h3 class='section-header'>Showcase your website</h3>
        <p class='section-paragraph'>Nulla enim justo, accumsan et consequat id, suscipit ac felis. Suspendisse eu quam lorem, vitae tristique risus. Donec sit amet magna luctus metus condimentum tempus dictum id arcu. Etiam et tellus libero, in euismod ipsum. Mauris viverra posuere ultrices. Etiam vel nisl justo. Praesent euismod, nisi at convallis egestas, metus elit cursus augue, a scelerisque purus urna ac urna. Aliquam et tempus ligula. Curabitur aliquam urna at diam gravida ac condimentum justo scelerisque.</p>
      </div>
      <div class='span5'>
        <img alt="Browser-window-2" src="../assets/images/browser-window.png" />
      </div>
    </div>
    <div class='row row-separated'>
      <div class='span5'>
        <img alt="Browser-window-3" src="../assets/images/browser-window.png" />
      </div>
      <div class='span7'>
        <h3 class='section-header'>Using browser windows</h3>
        <p class='section-paragraph'>Integer malesuada condimentum purus, eu consectetur urna congue imperdiet. Donec convallis tempor ipsum, eget imperdiet libero iaculis eu. Sed et mi id mi hendrerit convallis et vel nibh. Sed nec mi a ligula lobortis dignissim sed malesuada sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi lacus eros, aliquam eu sagittis quis, cursus vel eros. Vivamus aliquam, erat at ultrices dapibus, ipsum metus sagittis mi, vitae convallis purus ipsum ac est.</p>
      </div>
    </div>
    <div class='row'>
      <div class="span12">
        <div class="section-action">
          <a href="#" class="btn btn-large">Action Button</a>
        </div>
      </div>
    </div>
    <div class='row row-separated'>
      <div class='span8'>
        <h3 class='section-header'>Quisque eu nisl neque.</h3>
        <p class='section-paragraph'>Integer malesuada condimentum purus, eu consectetur urna congue imperdiet. Donec convallis tempor ipsum, eget imperdiet libero iaculis eu. Sed et mi id mi hendrerit convallis et vel nibh. Sed nec mi a ligula lobortis dignissim sed malesuada sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi lacus eros, aliquam eu sagittis quis, cursus vel eros. Vivamus aliquam, erat at ultrices dapibus, ipsum metus sagittis mi, vitae convallis purus ipsum ac est.</p>
      </div>
      <div class='span4'>
        <img alt="Browser-window-1" src="../assets/images/browser-window.png" />
      </div>
    </div>
    <div class='row row-separated'>
      <div class='span8'>
        <h3 class='section-header'>Nullam mi mi, convallis id vestibulum</h3>
        <p class='section-paragraph'>Vivamus in justo non orci convallis varius a venenatis turpis. Praesent auctor, neque non tempus eleifend, dolor sapien rhoncus ligula, id aliquam erat erat eget odio. Vestibulum porttitor vestibulum lacus, ac auctor mauris lacinia ac. Donec a massa purus, et vehicula eros. Proin gravida, purus feugiat semper ornare, justo dolor venenatis augue, non convallis nisi massa eget diam. Vivamus luctus commodo elementum.</p>
      </div>
      <div class='span4'>
        <img alt="Browser-window-3" src="../assets/images/browser-window.png" />
      </div>
    </div>

    <div class='row'>
      <div class='span12'>
        <h3 class='section-header'>Our Team</h3>
      </div>
      <div class='span3'>
        <div class='white-card'>
          <div class="img-w">
            <img alt="Photo-card" src="../assets/images/test-user.png">
          </div>
          <h5>Frank Lampard.</h5>
          <p>Cras metus elit, consectetur sed congue vel, sollicitudin eget odio. Cras lacinia laoreet libero et mattis.</p>
        </div>
      </div>
      <div class='span3'>
        <div class='white-card'>
          <div class="img-w">
            <img alt="Photo-card" src="../assets/images/test-user.png">
          </div>
          <h5>Fernando Torres.</h5>
          <p>Cras metus elit, consectetur sed congue vel, sollicitudin eget odio. Cras lacinia laoreet libero et mattis.</p>
        </div>
      </div>
      <div class='span3'>
        <div class='white-card'>
          <div class="img-w">
            <img alt="Photo-card" src="../assets/images/test-user.png">
          </div>
          <h5>Leo Messi.</h5>
          <p>Cras metus elit, consectetur sed congue vel, sollicitudin eget odio. Cras lacinia laoreet libero et mattis.</p>
        </div>
      </div>
      <div class='span3'>
        <div class='white-card'>
          <div class="img-w">
            <img alt="Photo-card" src="../assets/images/test-user.png">
          </div>
          <h5>David Villa.</h5>
          <p>Cras metus elit, consectetur sed congue vel, sollicitudin eget odio. Cras lacinia laoreet libero et mattis.</p>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class="span12">
        <div class="section-action">
          <a href="#" class="btn btn-warning btn-large">Action Button</a>
        </div>
      </div>
    </div>
  </div>
</section>
